In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from openpyxl import load_workbook

# Read excel file and create dict object, containing all sheets
sheet_names = pd.read_excel('/Users/p/Downloads/neueFische/EDA_Project/Data/Muesli Project raw data.xlsx', sheet_name=None)

# Show all sheet names
sheet_names.keys()

dict_keys(['Orders', 'Order Process Data', 'InternData Study', 'Campaign Data'])

In [2]:
# Create a data frame for every sheet
i = 1
for name in sheet_names:
    # For every sheet in the workbook, create a new data frame
    exec(f"df_{i} = pd.DataFrame(sheet_names[name])")
    # Show the name of the sheet and its data frame created
    print(f"Created 'df_{i}' from '{name}' sheet.")
    i += 1

Created 'df_1' from 'Orders' sheet.
Created 'df_2' from 'Order Process Data' sheet.
Created 'df_3' from 'InternData Study' sheet.
Created 'df_4' from 'Campaign Data' sheet.

In [5]:
df_2.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0     646  CA-2020-126221 2020-12-30         2021-01-06  Standard Processing
1     907  CA-2020-143259 2020-12-30         2021-01-06  Standard Processing
2     908  CA-2020-143259 2020-12-30         2021-01-06  Standard Processing
3     909  CA-2020-143259 2020-12-30         2021-01-06  Standard Processing
4    1297  CA-2020-115427 2020-12-30         2021-01-06  Standard Processing

In [4]:
df_4.head()

         Order ID Arrival Scan Date     Customer Name
0  CA-2019-109666        2019-05-03      Kunst Miller
1  CA-2019-138933        2019-05-03       Jack Lebron
2  CA-2019-130001        2019-05-03  Heather Kirkland
3  CA-2019-113061        2019-05-06         Ed Ludwig
4  CA-2019-162138        2019-05-06       Grace Kelly

In [17]:
merge_df_2_4 = df_2.merge(df_4, on='Order ID')
merge_df_2_4

,Row ID,Order ID,Order Date,On Truck Scan Date,Ship Mode,Arrival Scan Date,Customer Name
0,5012,US-2020-139647,2020-05-11,2020-05-13,Express,2020-05-15,Todd Sumrall
1,9520,US-2020-104451,2020-05-08,2020-05-13,Standard Processing,2020-05-15,Michelle Moray
2,3828,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
3,3829,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
4,3830,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
...,...,...,...,...,...,...,...
663,7110,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
664,7111,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
665,7112,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
666,7113,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
667,7114,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller

In [18]:
def format_columns(df,col):
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.strip()
    df.columns = df.columns.str.replace('-', '_')
    df.columns = df.columns.str.replace('/', '_')
    df = df.sort_values(by=col, inplace=True)

    return df

format_columns(merge_df_2_4, 'order_date')

In [19]:
merge_df_2_4.drop('row_id', inplace=True, axis=1)

In [20]:
#Check for NaN values
merge_df_2_4.isnull().any()

order_id              False
order_date            False
on_truck_scan_date    False
ship_mode             False
arrival_scan_date     False
customer_name         False
dtype: bool

In [28]:
format_columns(df_1, 'order_date')

df_1 = df_1[df_1.drop['']]

df_1

,index,order_id,order_date,ship_mode,customer_id,customer_name,origin_channel,country_region,city,state,postal_code,region,category,sub_category,product_id,sales,quantity,discount,profit
3225,7981,CA-2017-103800,2017-01-03,Standard Class,DP-13000,Darren Powers,Email,United States,Houston,Texas,77095.0,Central,Power Muesli,Nuts and more,OFF-PA-10000174,16.448,2,0.2,5.5512
4785,741,CA-2017-112326,2017-01-04,Standard Class,PO-19195,Phillina Ober,Facebook,United States,Naperville,Illinois,60540.0,Central,Power Muesli,Steel Cut,OFF-ST-10002743,272.736,3,0.2,-64.7748
5655,742,CA-2017-112326,2017-01-04,Standard Class,PO-19195,Phillina Ober,Facebook,United States,Naperville,Illinois,60540.0,Central,Power Muesli,Super Fibre Boost,OFF-BI-10004094,3.540,2,0.8,-5.4870
1778,740,CA-2017-112326,2017-01-04,Standard Class,PO-19195,Phillina Ober,Facebook,United States,Naperville,Illinois,60540.0,Central,Power Muesli,No Taste All Power,OFF-LA-10003223,11.784,3,0.2,4.2717
7229,1760,CA-2017-141817,2017-01-05,Standard Class,MB-18085,Mick Brown,Email,United States,Philadelphia,Pennsylvania,19143.0,East,Power Muesli,Super Mega Protein,OFF-AR-10003478,19.536,3,0.2,4.8840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,5092,CA-2020-156720,2020-12-30,Standard Class,JM-15580,Jill Matthias,Email,United States,Loveland,Colorado,80538.0,West,Power Muesli,Maple Sweetened,OFF-FA-10003472,3.024,3,0.2,-0.6048
1324,646,CA-2020-126221,2020-12-30,Standard Class,CC-12430,Chuck Clark,Facebook,United States,Columbus,Indiana,47201.0,Central,Power Muesli,Mega Protein,OFF-AP-10002457,209.300,2,0.0,56.5110
5750,1298,CA-2020-115427,2020-12-30,Standard Class,EB-13975,Erica Bern,Sales,United States,Fairfield,California,94533.0,West,Power Muesli,Super Fibre Boost,OFF-BI-10004632,20.720,2,0.2,6.4750
8211,907,CA-2020-143259,2020-12-30,Standard Class,PO-18865,Patrick O'Donnell,Email,United States,New York City,New York,10009.0,East,Toasted Muesli,With Fruit,FUR-BO-10003441,323.136,4,0.2,12.1176
5684,909,CA-2020-143259,2020-12-30,Standard Class,PO-18865,Patrick O'Donnell,Email,United States,New York City,New York,10009.0,East,Power Muesli,Super Fibre Boost,OFF-BI-10003684,52.776,3,0.2,19.7910

In [22]:
merge_df_2_4
merged_df = pd.merge(merge_df_2_4, df_1, on=['order_id',])
merge_df_2_4 = df_2.merge(df_4, on='order')

,order_id,order_date,on_truck_scan_date,ship_mode,arrival_scan_date,customer_name
667,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
661,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
662,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
666,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
664,CA-2019-109666,2019-04-19,2019-04-29,Standard Processing,2019-05-03,Kunst Miller
...,...,...,...,...,...,...
4,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
3,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
2,CA-2020-141733,2020-05-07,2020-05-13,Standard Processing,2020-05-15,Rick Wilson
1,US-2020-104451,2020-05-08,2020-05-13,Standard Processing,2020-05-15,Michelle Moray
0,US-2020-139647,2020-05-11,2020-05-13,Express,2020-05-15,Todd Sumrall